*{

    margin: 0 auto;

    
}

body, html{
    
    font-family: sans-serif;
    font-family: "Helvetica";
    font-weight:300;
    background: #fffff9;

}





/* TOP ANIMATION TOP ANIMATION TOP ANIMATION TOP ANIMATION TOP ANIMATION TOP ANIMATION TOP ANIMATION */





.flier {
    pointer-events: none;
}

.flier > * {
/* Adjust animation duration to change the element’s speed */
        animation: fly 123s linear infinite;
        pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: none;
    z-index: 0;
}

 /* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

    85%, 0% {
                display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%, 18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%, 43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    55% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%, 68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    65% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}







/* Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior Link Behavior */

a {
  color:inherit;
  text-decoration: none;
  transition: 300ms;
}

a:visited {
    color:inherit;
}





/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */



@media screen and (max-width:100000000px) and (min-width:1851px){





.nav {
    float: left;
    font-size: 14; 
    font-weight: 300; 
    text-align: left;
    padding-left:4vw;
    padding-top: 18px;
    color:white;
    mix-blend-mode: exclusion;
    position: fixed;
    text-transform: uppercase;
    width:100%;
    border-bottom: solid 1px;
}

.nav-mobile{
    display: none;

}


#div1 {
    font-size: 38; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
}

#div2 { 
    font-size: 38; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 50%;

}



.title{
    line-height: 1.13;
    padding-left:4vw;
    padding-right:7vh;
    padding-top: 120px;
    position: fixed;
}

.contact{
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    line-height: 1.12;
    padding-left:4vw;
    padding-right:7vh;
    position: fixed;
    bottom: 6vh;
    margin: 0 auto;
}



.services{
    line-height: 1.13;
    padding-right:6vw;
}


.email:hover span {
    display:none;
    color:#fff;
}

.email:hover:before {
    border-bottom: none;
    content:"aystowers@gmail.com";
    color:#000;
}






.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{

    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    line-height: 22px;
    padding-left:0vw;
    padding-right:4vw;
    padding-bottom: 1.2vw;
    display: inline-block;
}

.description{
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-right:4vw;
    padding-top: 12px;
    text-transform: ;
}

.description span{
    display: none;
}


}


/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */



@media screen and (max-width:1850px) and (min-width:1400px){



.nav {
    float: left;
    font-size: 14; 
    font-weight: 300; 
    text-align: left;
    padding-left:4vw;
    padding-top: 18px;
    color:white;
    mix-blend-mode: exclusion;
    position: fixed;
    text-transform: uppercase;
    width:100%;
    border-bottom: solid 1px;
}

.nav-mobile{
    display: none;
}

#div1 {
    font-size: 38; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
}

#div2 { 
    font-size: 38; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 50%;

}


.title{
    line-height: 1.13;
    padding-left:4vw;
    padding-right:7vh;
    padding-top: 120px;
  
    position: fixed;
}

.contact{
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    line-height: 1.12;
    padding-left:4vw;
    padding-right:7vh;
    position: fixed;
    bottom: 6vh;
    margin: 0 auto;
}


.services{
    line-height: 1.13;
    padding-right:4vw;
}


.email:hover span {
    display:none;
    color:#fff;
}

.email:hover:before {
    border-bottom: none;
    content:"aystowers@gmail.com";
    color:#000;
}






.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left:0vw;
    padding-right:1vw;
    padding-bottom: 1.4vw;
    display: inline-block;
}

.description{
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-right:4vw;
    padding-top: 8px;
    text-transform: ;
}
.description span{
    display: none;
}



}


/* BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1 BREAKPONT 1   */

@media screen and (max-width:1399px) and (min-width: 900px){





.nav {
    float: left;
    font-size: 14; 
    font-weight: 300; 
    text-align: left;
    padding-left:4vw;
    padding-top: 18px;
    color:white;
    mix-blend-mode: exclusion;
    position: fixed;
    text-transform: uppercase;
    width:100%;
    border-bottom: solid 1px;
}

.nav-mobile{
    display: none;
}

#div1 {
    font-size: 38; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
}

#div2 { 
    font-size: 38; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 50%;
}


.title{
    line-height: 1.13;
    padding-left:4vw;
    padding-right:7vh;
    padding-top: 120px;
  
    position: fixed;
}

.contact{
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    line-height: 1.12;
    padding-left:4vw;
    padding-right:7vh;
    position: fixed;
    bottom: 6vh;
    margin: 0 auto;
}


#div2 { 
    font-size: 38; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    float: left;
    color:#000;
    padding-top: 120px;
    margin-left: 50%;
}



.services{
    line-height: 1.13;
    padding-right:4vw;
}


.email:hover span {
    display:none;
    color:#fff;
}

.email:hover:before {
    border-bottom: none;
    content:"aystowers@gmail.com";
    color:#000;
}






.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{

    padding-left:0vw;
    padding-bottom: 1.5vw;
    display: inline-block;
}


.description{
    font-size: 12px; 
    line-height: 12px;
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-right:4vw;
    padding-top: 6px;
    text-transform: ;
}
.description span{
    display: none;
}

}

   


/* BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2 BREAKPONT 2   */


@media screen and (max-width:899px) and (min-width: 500px){


.nav-mobile {
    float: left;
    font-size: 14; 
    font-weight: 300; 
    line-height: 18px;
    text-align: left;
    padding-left:40px;
    padding-top: 18px;
    position: fixed;
    text-transform: uppercase;
    width:100%;
    border-bottom: solid 1px;
    background-color: #fffff9;
}

.nav {
    display: none;
}


#div1 {
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    width: 100%;
    height:100px;
    float: left;
    color:#000;

}

.title{
    font-size: 36; 
    line-height: 1.13;
    padding-left:40px;
    padding-right:7vh;
    padding-top: 120px;
    display:block;
    position:fixed;
    mix-blend-mode: exclusion;
    color:white;
}

.contact{
    display: none;
}

#div2 { 
    font-size: 36; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    width: 100%; 
    float: left;
    color:#000;
    display: block;
}

.services{
    line-height: 1.13;
    padding-left:40px;
    padding-right:40px;
    padding-top: 100px;
    padding-bottom: 45;
    font-size: 36; 
}




.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left:0vw;
    padding-top: 3vw;
    display: inline-block;
}


.description{
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-right:4vw;
    padding-top: 6px;
    text-transform: ;
}

.description span{
    display: none;
}

p span{
        font-size: 24px; 
}

}

/* BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3 BREAKPONT 3   */

@media screen and (max-width:499px) and (min-width: 100px){

.nav-mobile {
    float: left;
    font-size: 14; 
    font-weight: 300; 
    line-height: 18px;
    text-align: left;
    padding-left:40px;
    padding-top: 18px;
    position: fixed;
    text-transform: uppercase;
    width:100%;
    border-bottom: solid 1px;
    background-color: #fffff9;
}

.nav{
    display: none;
}

#div1 {
    font-size: 9vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    width: 100%;
    height:100px;
    float: left;
    color:#000;

}

.title{
    font-size: 9vw; 
    line-height: 1.13;
    padding-left:20px;
    padding-right:7vh;
    padding-top: 120px;
    display:block;
    position:fixed;
    mix-blend-mode: exclusion;
    color:white;
}

.contact{
    display: none;
}

#div2 { 
    font-size: 9vw; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    width: 100%; 
    float: left;
    color:#000;
    display: block;
}

.services{
    line-height: 1.13;
    padding-left:20px;
    padding-right:20px;
    padding-top: 100px;
    padding-bottom: 45;
    font-size: 36; 
}




.post img{
    width:100%;
}

.post video{
    width:100%;
}

.post{
    padding-left:0vw;
    padding-top: 3vw;
    display: inline-block;
}


.description{
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight:300; 
    padding-right:4vw;
    padding-top: 6px;
    text-transform: ;
}

.description span{
    display: none;
}

p span{
        font-size: 24px; 
}


}